<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    {% block head %}
        <script src="{{ static('hinclude.js') }}"></script>

        {% block head_meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock %}

        <title>{% block head_title %}{{ _("Django Zero Application") }}{% endblock %}</title>

        <link rel="icon" href="{{ static('favicon.ico') }}">

        {% block stylesheets %}
            {{ assets.get_stylesheets('bootstrap') }}

            <link rel="apple-touch-icon" sizes="180x180" href="{{ static('apple-touch-icon.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ static('favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ static('favicon-16x16.png') }}">
            <link rel="manifest" href="{{ static('site.webmanifest') }}">
            <link rel="mask-icon" href="{{ static('safari-pinned-tab.svg') }}" color="#0c4b33">
            <link rel="shortcut icon" href="{{ static('favicon.ico') }}">
            <meta name="msapplication-TileColor" content="#0c4b33">
            <meta name="msapplication-config" content="{{ static('browserconfig.xml') }}">
            <meta name="theme-color" content="#ffffff">
        {% endblock %}
    {% endblock %}
</head>

<body>
{% block body %}
    {% block header %}
        {% include '_header.html' %}
    {% endblock %}

    {% block content %}
        <p>
            Content goes here.
        </p>
    {% endblock %}

    {% block footer %}
        {% include '_footer.html' %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ assets.get_javascripts('bootstrap') }}
{% endblock %}
</body>
</html>