*.egg-info
*.iml
*.pyc
*.swp
.DS_Store
/.cache
/.coverage
/.idea
/.medikit-pipeline
/.medikit/
/.pytest_cache/
/.python*-*
/.release
/build
/dist
/django_zero/node_modules
/docs/_build
/htmlcov
/pylint.html
