-e .[channels]
-r requirements.txt
asgiref==2.3.0
async-timeout==2.0.1
attrs==17.4.0
autobahn==18.4.1
automat==0.6.0
channels==2.1.1
constantly==15.1.0
daphne==2.1.1
django==2.0.4
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
pytz==2018.4
six==1.11.0
twisted==17.9.0
txaio==2.10.0
zope.interface==4.5.0
