-e .[channels]
-r requirements.txt
asgiref==2.3.2
async-timeout==3.0.0
attrs==18.1.0
autobahn==18.5.2
automat==0.6.0
channels==2.1.1
constantly==15.1.0
daphne==2.1.2
django==2.0.5
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
pytz==2018.4
six==1.11.0
twisted==18.4.0
txaio==2.10.0
zope.interface==4.5.0
