-e .[celery]
-r requirements.txt
amqp==5.0.2
asgiref==3.3.1
billiard==3.6.3.0
celery==5.0.5
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
click==7.1.2
django-celery-beat==2.1.0
django-celery-results==2.0.0
django-timezone-field==4.1.1
django==3.1.5
kombu==5.0.2
prompt-toolkit==3.0.10
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
vine==5.0.0
wcwidth==0.2.5
