{% extends 'base.html' %}

{% block stylesheets %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    {{ assets.get_stylesheets('demo') }}
{% endblock %}

{% block body %}
    {% block header %}
        {% include '_header.html' %}
    {% endblock %}

    {% block content %}
        <p>
            Content goes here.
        </p>
    {% endblock %}

    {% block footer %}
        {% include '_footer.html' %}
    {% endblock %}
{% endblock %}
