{% extends 'examples/base.html' %}

{% block content %}
    <main role="main">
        <section class="jumbotron text-center" style="background-image: url('{{ static('nuages.jpg') }}');">
            <div class="container">
                <h1 class="jumbotron-heading">Django Zero</h1>
                <p class="lead">
                    Create pre-configured Django projects.<br>
                    Customize anything.<br>
                    Deploy.
                </p>
                <p>
                    <a href="http://django-zero.readthedocs.io/" class="btn btn-primary" target="_blank">Read the
                        docs</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-white">
            <div class="container">
                <h2>Quick start</h2>
                <p>
                    <code>TODO:</code> Add here pointers on how to do usual stuff (templates, static assets, compiled
                    assets, create app, etc.).
                </p>
                <h2>Features</h2>
                <p>
                    Projects created by <code>django-zero</code> contains a lot of features preinstalled and available
                    as a default.
                </p>
                <p>
                    You can add, remove and/or customize everything, the same way you do for regular django projects.
                </p>
                <p>
                    It just remove the usual boilerplate bootstrapping work.
                </p>
                <div class="row mb-2">
                    {% for feature_slug, feature in features.items() | sort %}
                        <div class="col-md-6">
                            <div class="card flex-md-row mb-4 box-shadow h-225">
                                <div class="card-body d-flex flex-column align-items-start">
                                    <strong class="d-inline-block mb-2 text-primary">{{ feature.category }}</strong>
                                    <h3 class="mb-0">
                                        <a class="text-dark"
                                           href="{{ url('example_feature_detail', kwargs={'slug':feature_slug}) }}">{{ feature.name }}</a>
                                    </h3>
                                    <br>
                                    <p class="card-text mb-auto">{{ feature.description }}</p>
                                    <a href="{{ url('example_feature_detail', kwargs={'slug':feature_slug}) }}">Read
                                        more...</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ super() }}

    <script src="{{ static('holder.js') }}"></script>
{% endblock %}
