{% extends "account/base.html" %}

{% block head_title %}{{ _('Sign In') }}{% endblock %}

{% block content %}
    <main role="main">
        <form class="account card box-shadow p-4" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}

            <div class="mb-4" style="width: 420px;">
                <h1 class="h3 mb-3 font-weight-normal">{{ _("Sign in") }}</h1>
            </div>

            {{ form.non_field_errors() }}

            <div class="form-group">
                {{ form['login'].errors }}
                {{ form['login'].label_tag() }}
                {{ form['login'].as_widget() }}
                {% if form['login'].help_text %}
                    <p class="help">{{ form['login'].help_text }}</p>
                {% endif %}
            </div>

            <div class="form-group">
                <div class="float-right">
                    <a href="{% url 'account_reset_password' %}">{{ _('Forgot your password?') }}</a>
                </div>
                {{ form['password'].label_tag() }}
                {{ form['password'].as_widget() }}
                {% if form['password'].help_text %}
                    <p class="help">{{ form['password'].help_text }}</p>
                {% endif %}
            </div>

            <div class="checkbox mb-3">
                <label>
                    {{ form['remember'].errors }}
                    {{ form['remember'].as_widget() }}
                    {{ form['remember'].label }}
                </label>
            </div>

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _("Sign in") }}</button>

            <hr class="my-3">

            <p class="m-0">
                {{ _('New user?') }} <a href="{{ signup_url }}">{{ _('Create your account') }}</a>
            </p>
        </form>
    </main>
{% endblock %}
