{% extends "account/base.html" %}

{% block head_title %}{{ _('Change Password') }}{% endblock %}

{% block content %}
<main role="main">
    <div class="account card box-shadow p-4">
        <h1>{{ _('Change Password') }}</h1>
        <p>
            {% trans %}
                Your password has been changed.
            {% endtrans %}
        </p>
        <p>
            {% trans login_url=url('account_login') %}
                You may now <a href="{{ login_url }}">login</a>.
            {% endtrans %}
        </p>
    </div>
</main>
{% endblock %}
