{% extends "account/base.html" %}

{% block head_title %}{{ _("Password Reset") }}{% endblock %}

{% block content %}
    <main role="main">
        <div class="account card box-shadow p-4">

            <div class="mb-4" style="width: 420px;">
                <h1 class="h3 mb-3 font-weight-normal">{{ _("Password Reset") }}</h1>
            </div>

            {% if request.user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
                minutes.{% endtrans %}</p>

        </div>
    </main>
{% endblock %}
