{% extends "account/base.html" %}

{% block head_title %}{{ _("Password Reset") }}{% endblock %}

{% block content %}
    <main role="main">
    <form class="account card box-shadow p-4" method="POST" action="{% url 'account_reset_password' %}">

        {% csrf_token %}

        <div class="mb-4" style="width: 420px;">
            <h1 class="h3 mb-3 font-weight-normal">{{ _("Password Reset") }}</h1>
        </div>

        {{ form.non_field_errors() }}

        {% if request.user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{{ _("Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.") }}</p>

        <div class="form-group">
            {{ form['email'].label_tag() }}
            {{ form['email'].as_widget() }}
            {% if form['email'].help_text %}
                <p class="help">{{ form['email'].help_text }}</p>
            {% endif %}
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _("Reset My Password") }}</button>

        <p class="small mt-3 mb-0">
            {{ _('Please contact us if you have any trouble resetting your password.') }}
        </p>
    </form>
{% endblock %}
