{% extends "account/base.html" %}

{% block head_title %}{{ _("Change Password") }}{% endblock %}

{% block content %}
<main role="main">
    <div class="account card box-shadow p-4">

        <div class="mb-4" style="width: 420px;">
            <h1 class="h3 mb-3 font-weight-normal">{% if token_fail %}{{ _("Bad Token") }}{% else %}{{ _("Change
                Password") }}{% endif %}</h1>
        </div>

        {% if token_fail %}
        <p>
            {% trans passwd_reset_url=url('account_reset_password') %}
            The password reset link was invalid, possibly because it has already been used. Please request a <a
                href="{{ passwd_reset_url }}">new password reset</a>.
            {% endtrans %}
        </p>
        {% else %}
        {% if form %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}

            <div class="form-group">
                {{ form['password1'].label_tag() }}
                {{ form['password1'].as_widget() }}
                {{ form['password1'].errors }}
                {% if form['password1'].help_text %}
                <p class="help">{{ form['password1'].help_text }}</p>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form['password2'].label_tag() }}
                {{ form['password2'].as_widget() }}
                {% if form['password2'].help_text %}
                <p class="help">{{ form['password2'].help_text }}</p>
                {% endif %}
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _('Change password') }}</button>

        </form>
        {% else %}
        <p>{{ _('Your password is now changed.') }}</p>
        {% endif %}
        {% endif %}
    </div>
</main>
{% endblock %}
